{
  "name": "trigger-sqs",
  "description": "A Spin trigger for Amazon SQS events",
  "version": "{{Version}}",
  "spinCompatibility": ">=2.2",
  "license": "Apache-2.0",
  "packages": [
    {
      "os": "linux",
      "arch": "amd64",
      {{#addURLAndSha}}https://github.com/spinframework/spin-trigger-plugins/releases/download/{{TagName}}/trigger-sqs-{{Version}}-linux-amd64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "linux",
      "arch": "aarch64",
      {{#addURLAndSha}}https://github.com/spinframework/spin-trigger-plugins/releases/download/{{TagName}}/trigger-sqs-{{Version}}-linux-aarch64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "macos",
      "arch": "amd64",
      {{#addURLAndSha}}https://github.com/spinframework/spin-trigger-plugins/releases/download/{{TagName}}/trigger-sqs-{{Version}}-macos-amd64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "macos",
      "arch": "aarch64",
      {{#addURLAndSha}}https://github.com/spinframework/spin-trigger-plugins/releases/download/{{TagName}}/trigger-sqs-{{Version}}-macos-aarch64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "windows",
      "arch": "amd64",
      {{#addURLAndSha}}https://github.com/spinframework/spin-trigger-plugins/releases/download/{{TagName}}/trigger-sqs-{{Version}}-windows-amd64.tar.gz{{/addURLAndSha}}
    }
  ]
}
